@page "/config-viewer"
@using System.Dynamic
@using System.IO
@using CrazyClearConfiguration.Adapter.Configuration.Json
@using CrazyClearConfiguration.Core.UseCases
@using Microsoft.AspNetCore.Hosting
@using Microsoft.Extensions.Logging
@inject ILogger<ConfigViewer> Logger
@inject IWebHostEnvironment Environment

<div>
    <h3>Load configuration:</h3>
    <InputFile OnChange="@LoadFile"/>
</div>

@if (isLoading) {
    <p class="mb-3">Uploading...</p>
}
else if (loadedFile != null) {
    <div class="mb-3">
        <div>Name: @loadedFile.Name</div>
        <div>Last modified: @loadedFile.LastModified.ToString()</div>
        <div>Size (bytes): @loadedFile.Size</div>
        <div>Content type: @loadedFile.ContentType</div>
    </div>
}

@if (config != null) {
    <div class="mb-3">
        <label for="filter" class="form-label">Filter</label>
        <input type="text" class="form-control" id="filter" placeholder="Filter" @bind="filter">
    </div>

    <div class="mb-3">
        <h3>Configuration tree:</h3>

        <p>
            <MudPaper Elevation="0">
                <MudTreeView T="string">
                    <NestableConfiguartionTree config="@config" filter="@filter"/>
                </MudTreeView>
            </MudPaper>
        </p>
    </div>
}

@if (error != null) {
    <div class="mb-3">
        <h3>Something went wrong:</h3>

        <p>@error</p>
    </div>
}

@code {
    private IBrowserFile loadedFile;
    private long maxFileSize = 1024 * 1000;
    private ExpandoObject config;
    private bool isLoading;
    private string error;
    private string filter = "";

    private async Task LoadFile(InputFileChangeEventArgs e) {
        isLoading = true;
        var file = e.GetMultipleFiles().First();
        config = null;
        error = null;

        try {
            loadedFile = file;
            var trustedFileNameForFileStorage = Path.GetRandomFileName();
            var path = Path.Combine(Environment.ContentRootPath,
                Environment.EnvironmentName, "unsafe_uploads",
                trustedFileNameForFileStorage);

            await using (FileStream fs = new(path, FileMode.Create)) {
                await file.OpenReadStream(maxFileSize).CopyToAsync(fs);
            }

            var adapter = new JsonConfigAdaptor(path);
            var usecase = new GetConfigurationUseCase(adapter);
            config = await usecase.Execute();
        }
        catch (Exception ex) {
            Logger.LogError("File: {Filename} Error: {Error}",
                file.Name, ex.Message);
            error = ex.Message;
        }
        finally {
            isLoading = false;
        }
    }

}